@import "../global.css";

main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    font-size: 1.4rem;
    padding: 1rem;
    gap: 1rem;
}

div{
    width: 48%;
}

main > h2{
    margin: 0 auto;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}

br{
    margin-bottom: 0.5rem;
    font-weight: 700;
}