@import "../global.css";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Espacement vertical entre les éléments */
    height: 100%;
}

input, textarea {
    width: 30rem;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.704);
    font-size: x-large;
    padding: 0.5rem;
    color: rgb(123, 123, 123);
}

textarea:focus, input:focus {
    outline: none;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#content {
    height: 15rem;
}